/pycases/allure-report/data/test-cases/36fdbc10b7b0bce2.json
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/pythonProject77.iml
/.idea/vcs.xml
